<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
>Add Server</button>
<!-- ^ esempio di property binding ed event binding-->
 <p>{{serverCreationStatus}}</p>

 <input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>
<p>{{serverName}}</p>

@if (serverWasCreated){
    <p>
        A new server was created with name: {{ serverName }}
    </p>
}
<!-- ^ nuova sintassi-->

<!-- <p *ngIf="serverWasCreated">
  A new server was created with name: {{ serverName }}
</p> -->
<!--^ event binding parameters (slide 44)-->

@for (server of serverList; track server){
    <app-server [name]="server"
                (removed)="onServerRemoved($event)">
    </app-server>
}
<!-- server è la variabile che assume il valore di un elemento dell'array serverList-->